[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
numpy = "*"
python-magic = "*"

[dev-packages]
pylint = "<2.0.0"
"autopep8" = "*"

[requires]
python_version = "3.6.4"
